$cor-principal: #092EE8;
$branco: #fff;

.lista-estoque {
    height: 100%;
    
    .tabela {
        width: 100%;
        height: 400px;
    
        tr.mat-header-row {
            height: 50px;
            line-height: 50px;
        }

        th.mat-header-cell {
            font-size: 18px;
            color: $branco;
            background-color: $cor-principal;
        }

        tr.mat-row {
            height: 36px;
            line-height: 36px;

            &:hover {
                background-color: whitesmoke;
            }
        }

        .mat-column-acoes {
            position: relative;
            width: 50px;

            & .mat-icon {
                vertical-align: middle;
                cursor: pointer;
            }
        
            & .card-acoes {
                position: absolute;
                top: 0;
                left: -110px;
                width: 100px;
                background-color: $branco;
                padding: 5px;
                line-height: 0;
                z-index: 99;
          
                & .btn-acoes {
                    width: 100%;

                    &:nth-child(2) {
                        margin-top: 5px;
                    }
                }
            }
        }
    }

    mat-paginator {
        color: $branco;
        background-color: $cor-principal;
    }
}